.request {
    grid-template-columns: auto auto auto;
}
.admin-select {
    border: none;
    color: rgb(167, 164, 164);
    margin-left: 20px;
}
textarea:focus {
    outline: none;
}
.admin-request {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: transparent;
    max-width: 350px;
}
.first {
    width: 30%;
}
.name {
    margin-top:10px;
}
img {
    border-radius: 50%;
}

@media only screen and (max-width: 800px) {
    .request {
        grid-template-columns: auto auto;
    }
} 

@media only screen and (max-width: 600px) {
    .request {
        grid-template-columns: auto;
    }
    
    .admin-request {
        max-width: 100%;
    }
} 

