section {
    margin: 20px auto;
    width: 80%;
}
.sticky-section {
    position: sticky;
    top: 60px;
}
.search {
    width: 50%;
    margin-left: 540px;
}
form {
    margin: 0;
    display: flex;
    flex-direction: row;
}
form .form-btn {
    width: 20%;
}
form .form-input {
    width: 80%;
}
.sticky-section .form-input, .sticky-section .form-btn {
    margin: 0;
}