body {
    padding: 0;
    margin: 0;
}
.flex {
    display: flex;
}
section {
    height: 700px;
    background-color: #F5F5F5;
}
h1 {
     padding: 0;
     margin: 0;
     font-size:3.5rem;
}
p {
     font-size: 18px;
}
.text {
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.intro {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: #fff;
    height: auto;
}
.intro-text {
    margin-bottom: 50px;
    color: rgba(255, 255, 255);
}
.action a {
    margin-left: 30px;
}
#home-intro {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    padding: 150px 0 0 80px;
}
#learn-more {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
}
.btn-white {
    background-color: #fff;
    color: #35475E;
}
.btn-action:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 8px 0px;
}
.sub-section {
    background-color: #fff;
}