body {
    background-color: #678bd849;
}
.user-action-box {
    display: flex;
    flex-direction: row;
}
.user-action-box div {
    width: 50%;
}
.user-action-box .form-input {
    margin-top: 0px;
}
.user-action-box .form-btn {
    margin-top: 0px;
}
.edit-btn {
    color: #0f0f0ff6;
    width: 60px;
    height: 40px;
    font-size: 15px;
}
.create-request-btn {
    width: 50%;
    border: 1px solid  #d8d8d849;
}
.box {
    background-color: inherit;
    border: none;
    padding: 30px;
}
.box-white {
    border: 1px solid #fff;
}
.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    color: #000000;
  }
  tr .sn {
      width: 60px;
  }
  tr .id, tr .act {
    width: 120px;
  }
  tr .date {
    width: 120px;
 }
 tr .stat {
    width: 120px;
 }
  tr {
      cursor: pointer;
      height: 60px;
  }

  tr:hover, tr:nth-of-type(odd):hover {
    background-color: rgb(127, 187, 255); 
  }

  tr:nth-of-type(odd) {
    background: #eee;
    font-size: 14px;
  }
  
  th {
    background-color:#35475E;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 40px;
  }
  
  td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 14px;
  }
